################################ Netatmo Binding ######################################
#
# Rate at which to check if poll is to run in milliseconds (optional, defaults to 5000)
granularity=2000

# Refresh interval in milliseconds (optional, defaults to 300000)
refresh=100000

# The Netatmo client id (see http://dev.netatmo.com/dev/listapps)
clientid=59cd193bacb39ba3588bff4d

# The Netatmo client secret (see http://dev.netatmo.com/dev/listapps)
clientsecret=Ju82kDIJ5quUU3LjKHYAj4WdkNOm

# The Netatmo refresh token (see http://dev.netatmo.com/doc/authentication/usercred)
refreshtoken=5689941269f7405b8cf3b889|cf1abd0f4f9646f04501807c208d2405

# The unit system where M=Metric system - celsius/meters/millimeters,
#     US=US System - fahrenheit/feet/inches (optional, defaults to M)
unitsystem=M

# The pressure unit values: mbar, inHg, mmHg (optional, defaults to mbar)
pressureunit=mbar
